<ul class="slidemenu-nav">
  <a id="slidemenu-close" href="#" class="btn btn-md pull-right toggle"><i class="fa fa-chevron-circle-left fa-lg"></i></a>
  <li>
    <a href="{{@blog.url}}">
      <i class="fa fa-home fa-lg"></i> Home
    </a>
  </li>
  <li>
    <a href="{{@blog.url}}/about">
      <i class="fa fa-question-circle fa-lg"></i> About
    </a>
  </li>
  <li>
    <a href="{{@blog.url}}/tag/travel/">
      <i class="fa fa-map fa-lg"></i> Travel
    </a>
  </li>
  <li>
    <a href="{{@blog.url}}/tag/story/">
      <i class="fa fa-book fa-lg"></i> Stories
    </a>
  </li>  
  <li>
    <a href="{{@blog.url}}/tag/lost-tales/">
      <i class="fa fa-beer fa-lg"></i> Lost Tales
    </a>
  </li>    
  <!--<li>
    <a href="{{@blog.url}}/cheatsheets/">
      <i class="fa fa-code"></i> Code Cheatsheets
    </a>
  </li>-->
  <li>
    <a href="{{@blog.url}}/rss/">
      <i class="fa fa-rss"></i> Subscribe
    </a>
  </li>
  <li class="slidemenu-divider"></li>
  {{#foreach @blog.navigation}}
    <li class="nav-{{slug}}{{#if current}} nav-current{{/if}}" role="presentation">
      <a href="{{url absolute="true"}}">
        <i class="fa fa-bookmark"></i>{{label}}
      </a>
    </li>
  {{/foreach}}
  <!--<li>
    Follow
  </li>
  <li>
    <a href="https://twitter.com/karloespiritu" target="_blank">
      <i class="fa fa-twitter"></i> Twitter
    </a>
  </li>
  <li>
    <a href="https://github.com/karloespiritu" target="_blank">
      <i class="fa fa-github"></i> Github
    </a>
  </li>-->
</ul>