<!DOCTYPE html>
<html>
  <head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/css" href="{{asset "css/bastard.min.css"}}" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Noto+Serif:400,700,400italic|Open+Sans:700,400" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    {{! Touch icons and favicon }}
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{asset "/images/apple-touch-icon-144x144-precomposed.png"}}" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{asset "/images/apple-touch-icon-114x114-precomposed.png"}}" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{asset "/images/apple-touch-icon-72x72-precomposed.png"}}" />
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{asset "/images/apple-touch-icon-57x57-precomposed.png"}}" />
    <link rel="apple-touch-icon-precomposed" href="{{asset "/images/apple-touch-icon-precomposed.png"}}" />
    <link rel="apple-touch-icon" href="{{asset "/images/apple-touch-icon.png"}}" />
    <link rel="icon" type="image/x-icon" href="{{asset "/images/favicon.ico"}}" />
    <link rel="shortcut icon" type="image/x-icon" href="{{asset "/images/favicon.ico"}}" />

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <link rel="apple-touch-icon" sizes="57x57" href="{{asset "/images/apple-touch-icon-57x57.png"}}" />
    <link rel="apple-touch-icon" sizes="60x60" href="{{asset "/images/apple-touch-icon-60x60.png"}}" />
    <!-- For first- and second-generation iPad: -->
    <link rel="apple-touch-icon" sizes="72x72" href="{{asset "/images/apple-touch-icon-72x72.png"}}" />
    <link rel="apple-touch-icon" sizes="76x76" href="{{asset "/images/apple-touch-icon-76x76.png"}}" />
    <!-- For iPhone with high-resolution Retina display running iOS ≤ 6: -->
    <link rel="apple-touch-icon" sizes="114x114" href="{{asset "/images/apple-touch-icon-114x114.png"}}" />
    <!-- For iPhone with high-resolution Retina display running iOS ≥ 7: -->
    <link rel="apple-touch-icon" sizes="120x120" href="{{asset "/images/apple-touch-icon-120x120.png"}}" />
    <!-- For iPad with high-resolution Retina display running iOS ≤ 6: -->
    <link rel="apple-touch-icon" sizes="144x144" href="{{asset "/images/apple-touch-icon-144x144.png"}}" />
    <!-- For iPad with high-resolution Retina display running iOS ≥ 7: -->
    <link rel="apple-touch-icon" sizes="152x152" href="{{asset "/images/apple-touch-icon-152x152.png"}}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{asset "/images/apple-touch-icon-180x180.png"}}" />
    <link rel="icon" type="image/png" href="{{asset "/images/favicon-32x32.png"}}" sizes="32x32">
    <link rel="icon" type="image/png" href="{{asset "/images/favicon-194x194.png"}}" sizes="194x194">
    <link rel="icon" type="image/png" href="{{asset "/images/favicon-96x96.png"}}" sizes="96x96">
    <link rel="icon" type="image/png" href="{{asset "/images/android-chrome-192x192.png"}}" sizes="192x192">
    <link rel="icon" type="image/png" href="{{asset "/images/favicon-16x16.png"}}" sizes="16x16">
    <link rel="manifest" href="{{asset "/images/manifest.json"}}">
    <link rel="shortcut icon" href="{{asset "/images/favicon.ico"}}">
    <meta name="msapplication-TileColor" content="#000000">
    <meta name="msapplication-TileImage" content="{{asset "/images/mstile-144x144.png"}}">
    <meta name="theme-color" content="#000000">


    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
    <script>
        //Your google analytics here
        //replace the create/send w. 
        //your tracking code
        
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        
        ga('create', 'UA-67238402-1', 'auto');
        ga('send', 'pageview');
        
    </script>    
  </head>
<body class="{{body_class}}">
    <!-- Side Menu -->
        <!--Gravatar link, update avatar image url to use your own; s = size in pixels -->
        {{> gravatar}}
        <!-- /Gravatar link -->
    <div id="slidemenu-wrapper">
        {{> slidemenu}}
    </div>
    <!-- /Side Menu -->

    {{! Everything else gets inserted here }}
    {{{body}}}

    <footer class="site-footer">
        <a class="subscribe icon-feed" href="{{@blog.url}}/rss/"><span class="tooltip">Subscribe!</span></a>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    {{! Social Links }}
                    {{> social }}
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <section class="copyright">
                    <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a>
                    <br />
                    <span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">{{meta_title}}</span> by 
                    <a xmlns:cc="http://creativecommons.org/ns#" href="{{@blog.url}}" property="cc:attributionName" rel="cc:attributionURL">Richard White</a> is licensed under a 
                    <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.
                    <br />Based on a work at <a xmlns:dct="http://purl.org/dc/terms/" href="{{@blog.url}}" rel="dct:source">{{@blog.url}}</a>.                    
                </section>
                 <!--<section class="copyright">All content copyright <a href="{{@blog.url}}/">{{@blog.title}}</a> &copy; {{date format="YYYY"}} &bull; All rights reserved.</section>-->
                 <!--<section class="poweredby">Proudly published with <a class="icon-ghost" href="http://ghost.org">Ghost</a> and the <a href="http://github.com/karloespiritu/Bastard"><strong>Bastard</strong></a> Theme</section>-->
            </div>
            <div class="row">
                 <a id="scroll-to-top" class="pull-right" href="#top"><i class="fa fa-chevron-circle-up fa-2x"></i></a>
            </div>
        </div>
    </footer>

    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}

    {{! The main JavaScript file for Bastard }}
    <script type="text/javascript" src="{{asset "js/scripts.min.js"}}"></script>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES * * */
        var disqus_shortname = 'thissojourninglife';
        
        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function () {
            var s = document.createElement('script'); s.async = true;
            s.type = 'text/javascript';
            s.src = '//' + disqus_shortname + '.disqus.com/count.js';
            (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
        }());
    </script>    
</body>
</html>
