/* ==========================================================================
   Theme colors
   ========================================================================== */

$yellow-light:          /* #ffeb99*/ #4B86AA;
$yellow-dark:           /* #caad00*/ #88A8BF;
$medium-black:          /* #171717;#CFD9DA*/ #2C567C;
$dark-black:            /* #000000;#C3CECC*/#FFFFFF;
$gray-darker:            #666666;
$gray-medium:            #848482;
$gray-light:             #bbbbbb;
