/* ==========================================================================
   2. General - Setting up some base styles
   ========================================================================== */

html {
  height: 100%;
  max-height: 100%;
  font-size: 62.5%;
}

body {
  height: 100%;
  max-height: 100%;
  font-family: 'Noto Serif', serif;
  font-size: 2.0rem;
  line-height: 1.6em;
  color: $gray-medium;
  background-color: $dark-black;
}

::-moz-selection, ::selection {
  color: #222;
  background: #D6EDFF;
  text-shadow: none;
}

h1, h2, h3, h4, h5, h6 {
  text-rendering: optimizeLegibility;
  line-height: 1;
  margin-top: 0;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 4.5rem;
  line-height: 1.2em;
  letter-spacing: -2px;
  text-indent: -3px;
}

h2 {
  font-size: 4rem;
  line-height: 1.2em;
  letter-spacing: -1px;
  text-indent: -2px;
}

h3 {
  font-size: 3.5rem;
}

h4 {
  font-size: 3rem;
}

h5 {
  font-size: 2.5rem;
}

h6 {
  font-size: 2rem;
}

a {
  color: $yellow-light;
  transition: color ease 0.3s;
  &:hover {
    color: $yellow-dark;
  }
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: #50585D;
}

p, ul, ol, dl {
  margin: 1.6em 0;
}

ol ol {
  margin: 0.4em 0;
}

ul {
  ul, ol {
    margin: 0.4em 0;
  }
}

ol ul {
  margin: 0.4em 0;
}

dl {
  dt {
    float: left;
    width: 180px;
    overflow: hidden;
    clear: left;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: bold;
    margin-bottom: 1em;
  }
  dd {
    margin-left: 200px;
    margin-bottom: 1em;
  }
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: rgba(235, 242, 246, 0.29) 1px solid;
  margin: 3.2em 0;
  padding: 0;
}

blockquote {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 1.6em 0 1.6em -2.2em;
  padding: 0 0 0 1.6em;
  border-left: #4a4a4a 0.4em solid;
  p {
    margin: 0.8em 0;
    font-style: italic;
  }
  small {
    display: inline-block;
    margin: 0.8em 0 0.8em 1.5em;
    font-size: 0.9em;
    color: #ccc;
    &:before {
      content: '\2014 \00A0';
    }
  }
  cite {
    font-weight: bold;
    a {
      font-weight: normal;
    }
  }
}

mark {
  background-color: #ffc336;
}

code, tt {
  padding: 1px 3px;
  font-family: Inconsolata, monospace, sans-serif;
  font-size: 0.85em;
  white-space: pre-wrap;
  /*border: 1px solid #333;*/
  /*background: #222;*/
  border: 1px solid $medium-black;
  background: $dark-black;
  border-radius: 5px;
}

pre {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 1.6em 0;
  border: 1px solid $gray-darker;
  width: 100%;
  padding: 10px;
  font-family: Inconsolata, monospace, sans-serif;
  font-size: 0.9em;
  white-space: pre;
  overflow: auto;
  background: $dark-black;
  border-radius: 10px;
  code {
    font-size: inherit;
    white-space: -moz-pre-wrap;
    white-space: pre-wrap;
    background: transparent;
    border: none;
    padding: 0;
  }
}

tt {
  font-size: inherit;
  white-space: -moz-pre-wrap;
  white-space: pre-wrap;
  background: transparent;
  border: none;
  padding: 0;
}

kbd {
  display: inline-block;
  margin-bottom: 0.4em;
  padding: 1px 8px;
  border: #ccc 1px solid;
  color: #666;
  text-shadow: #fff 0 1px 0;
  font-size: 0.9em;
  font-weight: bold;
  background: #f4f4f4;
  border-radius: 4px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 1px 0 0 white inset;
}

table {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 1.6em 0;
  width: 100%;
  max-width: 100%;
  background-color: transparent;
  th, td {
    padding: 8px;
    line-height: 20px;
    text-align: left;
    vertical-align: top;
    border-top: 1px solid #efefef;
  }
  th {
    color: #000;
  }
  caption + thead tr:first-child {
    th, td {
      border-top: 0;
    }
  }
  colgroup + thead tr:first-child {
    th, td {
      border-top: 0;
    }
  }
  thead:first-child tr:first-child {
    th, td {
      border-top: 0;
    }
  }
  tbody + tbody {
    border-top: 2px solid #efefef;
  }
  table table {
    background-color: #fff;
  }
  tbody > tr:nth-child(odd) > {
    td, th {
      background-color: #f6f6f6;
    }
  }
  &.plain tbody > tr:nth-child(odd) > {
    td, th {
      background: transparent;
    }
  }
}

iframe {
  display: block;
  margin: 1.6em 0;
}

.fluid-width-video-wrapper {
  display: block;
  margin: 1.6em 0;
  iframe {
    margin: 0;
  }
}

input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"] {
  width: 240px;
  padding: 0.4em 0.4em;
  /*background: #222;*/
  background: $dark-black;
  /*border: rgba(235, 242, 246, 0.29) 1px solid;*/
  border: $medium-black 1px solid;
  border-radius: 3px;
  font-size: .9em;
  /*color: #666666;*/
  color: $medium-black;
}
/* When a video is inside the fitvids wrapper, drop the
margin on the iframe, cause it breaks stuff. */

/* Buttons */
.btn-custom {
  font-size: 2.0rem !important;
  display: inline-block;
  padding: .5rem 1rem;
  color: $yellow-dark;
  background-color: $dark-black;
  border: .2rem solid $gray-dark;
  border-radius: .1rem;
  margin: 0.5rem !important;
}

.btn-custom:hover,
.btn-custom:focus {
  color: /*#26282d*/$medium-black;
  background-color: $yellow-dark;
  border-color: $yellow-dark;
}
