/* ==========================================================================
   11. Social Links
   ========================================================================== */

.btn-outline {
  margin-top: 15px;
  border: solid 1px $dark-black;
  font-size: 24px;
  color: $dark-black;
  background: 0 0;
  transition: all .3s ease-in-out;
  &:hover, &:focus, &:active, &.active {
    border: solid 1px $dark-black;
    color: #000;
    background: $dark-black;
  }
}

.btn-social {
  display: inline-block;
  width: 48px;
  height: 48px;
  border: 1px solid $dark-black;
  border-radius: 100%;
  text-align: center;
  font-size: 24px;
  line-height: 46px;
}